<h1>Active Loans</h1>

<p>
<%= link_to 'New Loan history', new_loan_history_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone</th>
    <th>Title</th>
    <th>Media Type</th>
    <th>Rent start</th>
    <th>Rent estimated</th>
    <th>Rent effective</th>
    <th>Overdue?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @active_loan_histories.each do |loan_history| %>
  <tr>
    <td><%= loan_history.user.name %></td>
    <td><%= loan_history.user.surname %></td>
    <td><%= loan_history.user.phone %></td>
    <td><%= loan_history.medium.title %></td>
    <td><%= loan_history.medium.media_type %></td>
    <td><%= loan_history.rent_start %></td>
    <td><%= loan_history.rent_estimated %></td>
    <td><%= loan_history.rent_effective %></td>
		<td><% if loan_history.rent_effective.nil? %>
				  <% if loan_history.rent_estimated < Date.today %>
						Overdue!
					<% else %>
						Safe!
					<% end %>
				<% elsif loan_history.rent_effective > loan_history.rent_estimated %>
					Overdue!
				<% end %>
		</td>
    <td><%= link_to 'Show', loan_history %></td>
    <td><%= link_to 'Edit', edit_loan_history_path(loan_history) %></td>
    <td><%= link_to 'Destroy', loan_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Past Loans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone</th>
    <th>Title</th>
    <th>Media Type</th>
    <th>Rent start</th>
    <th>Rent estimated</th>
    <th>Rent effective</th>
    <th>Overdue?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inactive_loan_histories.each do |loan_history| %>
  <tr>
    <td><%= loan_history.user.name %></td>
    <td><%= loan_history.user.surname %></td>
    <td><%= loan_history.user.phone %></td>
    <td><%= loan_history.medium.title %></td>
    <td><%= loan_history.medium.media_type %></td>
    <td><%= loan_history.rent_start %></td>
    <td><%= loan_history.rent_estimated %></td>
    <td><%= loan_history.rent_effective %></td>
		<td><% if loan_history.rent_effective.nil? %>
				  <% if loan_history.rent_estimated < Date.today %>
						Overdue!
					<% else %>
						Safe!
					<% end %>
				<% elsif loan_history.rent_effective > loan_history.rent_estimated %>
					Overdue!
				<% end %>
		</td>
    <td><%= link_to 'Show', loan_history %></td>
    <td><%= link_to 'Edit', edit_loan_history_path(loan_history) %></td>
    <td><%= link_to 'Destroy', loan_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
