<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Team</th>
    <th>Position</th>
    <th>Phone</th>
    <th>Rental count</th>
    <th>Overdue count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.team %></td>
    <td><%= user.position %></td>
    <td><%= user.phone %></td>
    <td><%= user.rental_count %></td>
    <td><%= user.overdue_count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
