<h1><%= @search_result.nil? ? "Listing media" : "Listing media search results" %></h1>

<p id="notice"><%= notice %></p>

<div style="margin: 20px 0">
<h3>Search</h3>
<%= form_tag '/media/search', :method => 'get' do %>
	<%= label_tag(:q, "Title: ") %>
	<%= text_field_tag(:q) %>

	<%= label_tag(:media_type, "Media Type: ") %>
	<%= text_field_tag(:media_type) %>

	<%= label_tag(:year, "Year: ") %>
	<%= text_field_tag(:year) %>

	<%= label_tag(:availability, "Availability: ") %>
	<%= text_field_tag(:availability) %>

	<%= submit_tag "Search" %>
<% end %>

<%= form_tag '/media/cast', :method => 'get' do %>
	<%= label_tag(:cast, "Cast: ") %>
	<%= text_field_tag(:cast) %>

	<%= submit_tag "Search By Cast" %>
<% end %>
</div>

<% if @media.empty? %>
	<p>No results found.
<% else %>
<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Year</th>
    <th>Language</th>
    <th>Producer</th>
    <th>Cast</th>
    <th>Location</th>
    <th>Availability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.title %></td>
    <td><%= medium.media_type %></td>
    <td><%= medium.year %></td>
    <td><%= medium.language %></td>
    <td><%= medium.producer %></td>
    <td><%= medium.cast %></td>
    <td><%= medium.location %></td>
    <td><%= medium.availability %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end # each loop %>
</table>
<% end # if statement %>

<br />

<%= link_to 'New Medium', new_medium_path %>
