<h1>Media search results</h1>

<h3>Search</h3>
<% form_tag medium_path, :method => 'get' do %>
	Title: <%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th>Release year</th>
    <th>Language</th>
    <th>Producer</th>
    <th>Cast</th>
    <th>Location</th>
    <th>Availability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.title %></td>
    <td><%= medium.description %></td>
    <td><%= medium.type %></td>
    <td><%= medium.release_year %></td>
    <td><%= medium.language %></td>
    <td><%= medium.producer %></td>
    <td><%= medium.cast %></td>
    <td><%= medium.location %></td>
    <td><%= medium.availability %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', medium_path %>
